:host{
    width: 100%;
}

:host ::ng-deep{
    .p-panel .p-panel-content{
        padding: 1.25em !important;
    }
    p-table, .p-datatable{
        width: 100%;
    }
}

.titulo{
    display: flex;
    justify-content: center;
}

input, p-inputMask{
    margin-right: 1.25em;
}